name: Ruby

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: runger_rails_model_explorer
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Ruby
        uses: ruby/setup-ruby@e69dcf3ded5967f30d7ef595704928d91cdae930 # v1.285.0
        with:
          bundler-cache: true
          working-directory: runger_rails_model_explorer

      - name: Run RuboCop
        run: bin/rubocop

      - name: Run RSpec
        run: bin/rspec
